{% extends "layout.html.twig" %}

{% block title %} Erreur 500 ! {% endblock %}

{% block content %}
    <div class="container box-error">
        <div class="row">
            <div class="col s12 col m4 offset-m2 ">
                <img src="{{ asset('images/error500.png') }}" class="error404">
            </div>
            <div class="col s12 col m6">
                <h1>Whoops...Erreur : {{ status_code }}</h1>
                <h1><small>Le serveur rencontre un problème de configuration</small></h1>
                <p> Merci de contacter l'administrateur du site : olivier.herzog@gmail.com
                et de l'informer de l'erreur rencontrée</p>
                <br><br>
                <a href="{{ path('accueil') }}">
                    <button class="waves-effect waves-light light-blue accent-4 btn col s12 col m12 col l6 offset-l3"> ACCUEIL</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
