{% extends "::layout.html.twig" %}

{% block scripthead %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
{% endblock %}


{% block content %}

	<div class="container" style="margin-bottom: 200px;">
		<h1> Observations validées </h1>

		<table cellpadding="0" cellspacing="0" border="0" class="display table-datas" id="obs" width="100%" >
			<thead>
			<tr>
				<th data-priority="1">Date</th>
				<th>Espèce</th>
				<th>Localisation</th>
				<th>Auteur</th>
				<th>Naturaliste</th>
				<th>Adhérent</th>
				<th data-priority="2">Photo</th>
				<th data-priority="3">Supprimer</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div id="modal1" class="modal photo-preview">
				<img id="photo-preview" class="responsive-img" src="">
		</div>

		<div id="modal2" class="modal gmap">
			<div class="modal-content" style="width: 100%; height: 100%">
				<div id="map" ></div>
			</div>
		</div>
	</div>


{% endblock %}

{% block scriptfoot %}
<script type="text/javascript">

     function initMap(latLong)
	{
		if (typeof latLong !== 'undefined') {
			var lat = parseFloat(latLong[0]);
			var long = parseFloat(latLong[1]);
		    var myLatLng = new google.maps.LatLng(lat,long);
		    
		    var map = new google.maps.Map(document.getElementById("map"),
		    {
		        center: myLatLng,
		        zoom: 15
		    });

		    var marker = new google.maps.Marker(
		    {
		        position: myLatLng,
		        map: map,
	            animation: google.maps.Animation.DROP
		    });
            

		}
	}



	$(document).ready(function() {

	    var table = $('#obs').DataTable( {
            "language": {
                "loadingRecords": '<div class="progress  light-blue accent-4" id="loader"> <div class="indeterminate  light-blue lighten-4"></div> </div>',
				"lengthMenu": "Nombre de résultats par page _MENU_ ",
				"zeroRecords": "Aucun résultat",
				"info": "Page _PAGE_ sur _PAGES_",
				"paginate": {
					"previous": "Précedent",
					"next": "Suivant"
				}
            },
	        "ajax": "{{ path('observation_validee_query') }}",
	            "columns": [
			        { "data": "date.date",
			          "render": function (data) {
			          	var dateConvert = new Date(data).toLocaleDateString();
			          	return dateConvert;
			          }
			        },
			        { "data": "especes" },
			        { "data": "latlong",
		         	  "render":  function ( data) {
                             		return '<a class="map_link" data-target="modal2" href="#" data-latlong="'
                                     + data 
                                     +'">Carte</a>';
                                    }
		            },
			        { "data": "auteur" },
			        { "data": "naturaliste" },
			        { "data": "adherent",
			          "render":  function ( data) {
				          	            if (data) {
                                        return 'Oui';
				          	            } else {
				          	            return 'Non';
				          	            }
                                    }
		            },
			        { "data": "photo", 
					  "render":  function ( data) {
					  	 			if (!!data) {
                                        return '<button class="waves-effect waves-light light-blue accent-4 ' +
                                                'btn-large btn-photo" data-target="modal1" data-photo="'
                                        + data
                                        +'"><i class="fa fa-camera" aria-hidden="true"></i></button>';
                                    } else {
                                    	return 'Pas de photo';
                                    }
						         }
				    },
			        {"data": "idobs",
		         	 "render":  function ( data) {
	                             return '<a class="btn-floating btn-small waves-effect waves-light red btn-supprimer" href="#" data-idobs="'
	                                     + data 
	                                     +'"><i class="fa fa-minus" aria-hidden="true"></i></a>';
			                    }
			        }
			    ],
			"searching" : false,
			"info" : false,
			"ordering" : false,
            "responsive" : true,
			"lengthMenu": [[5, 10, 20], [5, 10, 20]]
	        
	    } );

		// boutton supprimé avec requete ajax param query pseudo et id observation 
        $('#obs tbody').on( 'click', '.btn-supprimer', function () {
           var idObs = $(this).data("idobs");
           var data = table.row( $(this).parents('tr') ).data();  // permet de recup toutes les donnees de la ligne objet
           $.ajax({
			  url: "{{ path('observation_delete_query') }}",
			  data: { idobs: idObs, auteur: data.auteur }
				}).done(function() {
					 // permet a la table de recharger les données ajax en cas de succès de la requete ajax
					 Materialize.toast('Supression effectuée', 4000,  'toast-success');
					 table.ajax.reload();
			});
        } );

        // ouvre un modale photo quand button photo clické
      $('#obs tbody').on( 'click', '.btn-photo', function () {
      	   var photo = $(this).data("photo");
  	       $('#photo-preview').attr("src", "photos/" + photo);
           $('#modal1').modal();
        } );

         // ouvre une modale google map quand lien carte cliqué
        $('#obs tbody').on( 'click', '.map_link', function () {
      	   var latLong = $(this).data("latlong");
      	   var result = latLong.split(",");
  	       //initMap(result);
           $('#modal2').modal({
           		ready: function() { 
   			 	    initMap(result);
           			google.maps.event.trigger(map, "resize");
			    }
           });   
        } );
    

	} );


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNpD95psKwrKpe9cs8f39Ax_43ZWWYjsU&callback=initMap">
</script>
{% endblock %}
