<p> Bonjour, </p>

<p>
    Votre justificatif a été refusé. Vous pouvez ajouter un autre
    justificatif dans la section "Modifier vos informations".

</p>


<p>
    Pour toute question vous pouvez nous contacter dans l'espace contact du site.
</p>



