<p> Bonjour, </p>

<p>Suite à votre demande, veuillez trouver le nouveau mot de passe de votre compte</p>

<p>Identifiant:  {{ username }}</p>
<p>Mot de passe: {{ password }}</p>

<p>Pour plus de sécurité, il est recommandé de modifier ce mot de passe lor de votre prochaine connexion dans votre espace privé</p>

<p>A bientôt sur <a href="{{ url('accueil') }}" target="_blank">le site web Nos amis les oiseau</a></p>
